<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MY CV DOCUMENT</title>
		<link href="CV.Page.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="Heading">
			<h1 style="font-size:250%;">Batyr Kenzheakhmetov</h1>
			<h2>Computer Science</h2>
			<hr>
			<h3>Contact:</h3>
			<ul>
				<li>Email: Kenzheahmetov0403@gmail.com</li>
				<li>Phone: +7(775)-249-00-55</li>
			</ul> 
		</div>	
		<div class="Info">
			<h1 style="font-size:150%;">Education</h1>
			<ul>
				<li><b>Secondary Education</b></li>
				<br>
				NIS school
				<br><br>
				Graduated May 2021
			</ul>
			
			<h1 style="font-size:150%;">Skills</h1>
			<ul>
				<li>Programming Languages: Java(OOP), C++</li>
				<li>Web Development: HTML, CSS</li>
				<li>Database Management: MySQL</li>
			</ul>
			<h1 style="font-size:150%;">Experience</h1>
		</div>
		<div class="tables">
			<table>
			    <tr>
					<td>
						<br>
						<b>Websyte Development</b>
						<br><br>
						Astana IT University
						<br><br>
						2022-2023
						<br><br>
					</td>
					<td>
						<ul>
						<li>Mainly front-end development</li><br>
						<li>Database development</li><br>
						<li>Website content analysis</li>
					</ul>
					</td>
				</tr>
				
				
				<tr>
					<td>
						<br>
						<b>Creation of Project Works</b>
						<br><br>
						NIS school
						<br><br>
						2018-2021
						<br><br>
					</td>
					<td>
						<ul>
						<li>Design work on the history of Kazakhstan</li><br>
						<li>Analysis of statistical data</li><br>
						<li>Estimation of the volume of energy resources</li>
					</ul>
					</td>
				</tr>
			</table>
			<hr>
		</div>
		<a href="Contact.html">Reach Me</a>
	</body>
</html>
